# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
.vercel
.env*.local

key.json
*.sql
supabase_backup_commands.md
VM Control Implementation Plan.md
VM Control Technical Spec.md
